<div class="grid grid-cols-3">
  <div class="mb-10 col-span-3 place-content-center content-center justify-center text-center">
    <.question addends={@addends} />
  </div>
  <div class="content-center text-center"><.answer value={@attempt1} /></div>
  <div class="content-center text-center"><.answer value={@attempt2} /></div>
  <div class="content-center text-center"><.answer value={@attempt3} /></div>
</div>
